extends layout

block content

    if user
        h1= title

        p Welcome back, #{user.fullName}!
        if !user.status
            p You can become a member if you follow this #[a(href=`/membersOnly/becomeMember/${user.id}`) link]
        else
            if !user.admin
                p You're a member.
            else 
                p You're an admin.

        a(href=`/membersOnly/newMessage/${user.id}`) Create new message

        each message in messages
            div.messageBox
                h4 #{message.title}
                p #{message.text}
                if user.status
                    p Author: #{message.user.fullName}
                    p Date: #{message.prettydate}
                    if user.admin
                        a#deleteMsg(href=`/membersOnly/deleteMessage/${message.user.id}`) Delete message

    else
        h1= title

        p Welcome to our site, please log in or sign up

        each message in messages
            div.messageBox
                h4 #{message.title}
                p #{message.text}
    
